@font-face {
  font-family: 'Red Hat Display';
  src: url('/src/assets/fonts/red-hat-display/RedHatDisplay-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Mada';
  src: url('/src/assets/fonts/Mada/Mada-ExtraLight.ttf');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Mada';
  src: url('/src/assets/fonts/Mada/Mada-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Mada';
  src: url('/src/assets/fonts/Mada/Mada-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Mada';
  src: url('/src/assets/fonts/Mada/Mada-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Mada';
  src: url('/src/assets/fonts/Mada/Mada-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Mada';
  src: url('/src/assets/fonts/Mada/Mada-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}