


$clr-primary: #041C32;
$clr-secondary: #22577E;
$clr-secondary--light: #7a9ab2;
$clr-light: #DFF6FF;
$clr-light--shade: #b2c5cc;
$clr-accent: #88E0EF;
$clr-white: #ffffff;

$fs-xxl: 5.5rem;
$fs-xl: 4.5rem;
$fs-l: 2.8rem;
$fs-m: 1.5rem;
$fs-s: 1.2rem;
$fs-xs: 1rem;
$fs-xxs: .7rem;

$spacer-xxl: 10rem;
$spacer-xl: 8rem;
$spacer-l: 4rem;
$spacer-m: 3rem;
$spacer-s: 2rem;
$spacer-xs: 1rem;
$spacer-xxs: .3rem;

$ff-redhat: 'Red Hat Display';
$ff-mada: 'Mada';