@use './base/' as *;

html {
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  background-color: $clr-primary;
  padding-top: 100px;
}

//* =================
//* Scrollbar
//* =================

//* Scrollbar Firefox

* {
  scrollbar-width: thin;         
  scrollbar-color: $clr-accent $clr-primary;   
}

//* Scrollbar Webkit

body::-webkit-scrollbar {
  width: .4rem;
}

body::-webkit-scrollbar-track {
  background: $clr-primary;
}

body::-webkit-scrollbar-thumb {
  background: $clr-accent;
}

//*================
//* Mobile
//*================

@media screen and (max-width: 1366px) { 
  body {
    padding-top: 0;
  }
}
